* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: bisque;
	height: auto;
	padding: 1.5em;
}

.main-heading {
	color: #333;
	text-align: center;
	font-size: 2em;
}

.form-container {
	padding: 1.5em;
	border: 2px solid #333;
	border-radius: 1em;
	margin: 0 auto;
	max-width: 600px;
}

.my-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	width: 100%;
}

.my-form input,
.my-form textarea {
	width: 100%;
	padding: 0.5em;
	border-radius: 0.5em;
	box-shadow: 5px 5px 2px #33333381;
}

.btn-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1.5em;
}

#btn {
	padding: 0.3em;
	background-color: green;
	border: none;
	border-radius: 0.5em;
	color: #fff;
	cursor: pointer;
	box-shadow: 5px 5px 2px #33333381;
}

#btn-edit {
	padding: 0.3em;
	background-color: orange;
	border: none;
	border-radius: 0.5em;
	color: #fff;
	cursor: pointer;
	box-shadow: 5px 5px 2px #33333381;
}

.details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
}

.display-results {
	padding: 1.5em;
	margin-bottom: 1em;
}
